/* ---------------------------- GRAL ---------------------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------------- BODY ---------------------------- */
body {
    display: grid;
    grid-template-rows: 5% 90% 5%;
    min-height: 100vh;
}

/* ---------------------------- HEADER ---------------------------- */
header {
    width: 100%;
    background: rgb(3, 10, 64, 1);
}

.cont-btn-header {
    display: contents;
}

.btn-header {
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgb(3, 10, 64, 1);
    border-right: 1px solid rgba(200, 200, 200, 0.814);
}

.btn-header>a {
    color: whitesmoke;
    font-size: 18px;
    margin: 0 10px;
}

/* ---------------------------- MAIN ---------------------------- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------- CARD ACTIVITY GRAL ---------------------------- */
.cont-activity {
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 10px 30px rgba(33, 32, 32, 0.18);
    max-width: 650px;
    padding: 1%;
}

/* ---------------------------- CARD IMG ---------------------------- */
.cont-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* ---------------------------- CARD TEXT ---------------------------- */

/* title */
.cont-info>h3 {
    padding: 10px 0 3px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(20, 0, 87);
}

.cont-location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: rgb(92, 90, 90);
}

.locationIcon2 {
    color: rgb(170, 169, 169);
    margin-right: 5px;
    align-content: center;
}

/* ------------------------------ cont gral items ------------------------------ */
.cont-items {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
.cont-left {
    display: flex;
    justify-content: end;
}

.cont-right {
    display: flex;
    justify-content: start;
}
/* ---------------------------- Date ---------------------------- */
.cont-info {
    text-align: -webkit-center;
}

.cont-info>#date>div {
    display: flex;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(109, 109, 109);
}

/* ---------------------------- people age ---------------------------- */
.cont-info>div>div>p {
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: rgb(109, 109, 109);
}

/* ---------------------------- description ----------------------------*/
#activityDescription {
    width: 90%;
} 

/* ---------------------------- button price/description ---------------------------- */
.btn-price, .btn-description  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(229, 229, 229);
    background-color: rgb(105, 156, 4);
}

/* ---------------------------- button description ---------------------------- */
.btn-description {
    background: rgb(3, 10, 64, 1);
}

/* ---------------------------- FOOTER ---------------------------- */
footer {
    background: rgb(3, 10, 64, 1);
}

footer>div {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

footer>div>ul {
    display: flex;
    color: antiquewhite;
}
footer>div>ul>li>a {
    color: aliceblue;
}