
/*----------------------------- PAGE CREATE ACTIVITY -----------------------------*/
.main-create-activity, .main-register, .body-main {
    padding: 0;
}
/* FORM */
.cont-activity {
    margin: 10px 0;
}
.option-gender {
    display: flex;
}
.option-gender  > div {
    align-self: end;
    width: 100%;
}
#GET-gender, #GET-category {
    width: 100%;
    padding: 10px;
    color: rgb(78, 77, 77);
}

/* inputs date */
.cont-date {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* date */
.cont-input-date {
	align-self: end;
	display: grid;
}
.cont-input-date:first-child {
	margin-right: 10px;
}

.input-date {
    width: 100%;
    padding: 10px;
}

.cont-price-age {
    display: grid;
    grid-template-columns: 50% 50%;
}
.cont-price-age > div:first-child {
    margin-right: 10px;
}

/*-------------------------------------- INPUSTS FORM --------------------------------------*/
.input-login, .input-date, .options, #GET-gender, #GET-category {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgb(209, 218, 218);
}

.input-login::placeholder, .input-date::placeholder, .options::placeholder, #GET-gender::placeholder {
    font-size: 0.9em;
	color: rgb(78, 77, 77);
}

/* hour */
#datePickerId, #hourPickerId {
    padding: 9px;
    font-size: 1em;
    border: none;
    color: rgb(78, 77, 77);
    background: url(../img/clock.jpg) no-repeat;
    /*agrego otro icono*/
    background-size: 20px;
    background-position: 90%;
    border-radius: 5px;
    border: 1px solid rgb(209, 218, 218);
}

.input-login:hover, .input-date:hover, .options:hover, #GET-gender:hover, #GET-category:hover, #datePickerId:hover, #hourPickerId:hover {
	border: 1px solid rgba(165, 184, 195, 0.986);
}

.input-login:focus, .input-date:focus,  #GET-gender:focus, #GET-category:focus, #datePickerId:focus, #hourPickerId:focus {
	border: 1px solid rgba(3, 10, 64, 0.617);
	outline: none;
}

#datePickerId {
    padding: 9px;
    font-size: 1em;
    border: none;
    color: rgb(78, 77, 77);
    background: url(../img/icon-calendary.png) no-repeat;
    /*agrego otro icono*/
    background-size: 20px;
    background-position: 90%;
    border: 1px solid rgb(229, 229, 229);
}
#datePickerId:hover {
    border: 1px solid rgba(165, 184, 195, 0.986);
}
#datePickerId:focus {
    border: 1px 0px 1px 0px solid rgba(90, 90, 89, 0.617);
    outline: none;
}
/* icon calendar | oculto el icono por defecto*/
::-webkit-calendar-picker-indicator {
	
    cursor: pointer;
    opacity: 0;
}

/* OBLIGATORY */
.obligatory {
	color: red;
}
.msj-obligatory {
	text-align: center;
	font-size: 0.9em;
}
/*-------------------------- ESTILOS BOTON ENVIAR --------------------------*/
#input-create-button {
	padding: 5px;
	width: 100%;
	font-size: 1em;
	background: rgb(3, 10, 64, 1);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
	border: none;
}