
/*----------------------------- PAGE CREATE ACTIVITY -----------------------------*/
.main-create-activity, .main-register, .body-main {
    padding: 0;
}
/* FORM */
.cont-activity {
    margin: 10px 0;
}
.option-gender {
    display: flex;
}
.option-gender  > div {
    align-self: end;
    width: 100%;
}
#GET-gender, #GET-category {
    width: 100%;
    padding: 10px;
    color: gray;
}

/* inputs date */
.cont-date {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}
.cont-input-date:first-child {
    margin-right: 10px;
}
.cont-input-date:last-child {
    margin-left: 10px;
}
.input-date {
    width: 100%;
    padding: 10px;
}

.cont-price-people {
    display: grid;
    grid-template-columns: 60% 40%;
}
.cont-price-people > div:first-child {
    margin-right: 10px;
}

/*-------------------------------------- INPUSTS FORM --------------------------------------*/
.input-login, .input-date, .options, #GET-gender, #GET-category {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgb(209, 218, 218);
}

.input-login::placeholder, .input-date::placeholder, .options::placeholder, #GET-gender::placeholder {
	font-size: 0.8em;
	color: rgb(171, 189, 189);
}

.input-login:hover, .input-date:hover, .options:hover, #GET-gender:hover, #GET-category:hover {
	border: 1px solid rgba(165, 184, 195, 0.986);
}

.input-login:focus, .input-date:focus,  #GET-gender:focus, #GET-category:focus {
	border: 1px solid rgba(3, 10, 64, 0.617);
	outline: none;
}

/* contenedor texto de correo */
.cont-title-input {
	margin-top: 25px;
	margin-bottom: 10px;
}

/* contenedor password */
.cont-password {
	display: flex;
	justify-content: space-between;
}

.cont-password>a {
	align-self: flex-end;
	font-size: 0.8em;
	font-weight: bold;
}

/* ICONO PARA MOSTRAR U OCULTAR EL PASSWORD */
.cont-input-password {
	position: relative;
}

.show-hide-pass {
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: #058d92e4;
}

.bi-eye-slash {
	display: none;
}

/************************* 
** ESTILOS BOTON ENVIAR **
**************************/
#input-create-button {
	padding: 5px;
	width: 100%;
	font-size: 1em;
	background: rgb(3, 10, 64, 1);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
	border: none;
}