/*-------------------------------------- FORMULARIO --------------------------------------*/
.tag-a-login {
	color: #009fa5;
	font-weight: bold;
}

/* ICON TO CLOSE LOGIN */
.cont-icon-close {
	position: absolute;
	color: #464545;
	right: 12px;
	transform: translateY(-100%);
}

.bi-x {
	cursor: pointer;
	color: #00c6cd92;
}

/* title */
.h1-login {
	margin-top: 10px;
	text-align: center;
	color: rgb(3, 10, 64, 1);
}

/* textos */
.p-login {
	font-weight: bold;
}

/*************************************************** 
** mensaje para registrarse en caso de no estarlo **
****************************************************/
.formLogin {
	background: #fff;
	padding: 20px;
}
.formLogin > .message-register {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 50px;
	font-size: 0.8em;
}

.message-register>p>a {
	align-self: flex-end;
	font-weight: bold;
}

/*-------------------------------------- INPUSTS FORM --------------------------------------*/
/* inputs de entrada */
.input-login, .input-date, .options, #GET-category {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgb(209, 218, 218);
}

.input-login::placeholder, .input-date::placeholder, .options::placeholder {
	font-size: 0.8em;
	color: rgb(171, 189, 189);
}

.input-login:hover, .input-date:hover, .options:hover, #GET-category:hover {
	border: 1px solid rgba(165, 184, 195, 0.986);
}

.input-login:focus, .input-date:focus, #GET-category:focus {
	border: 1px solid rgba(3, 10, 64, 0.617);
	outline: none;
}

/* contenedor texto de correo */
.cont-title-input {
	margin-top: 25px;
	margin-bottom: 10px;
}

/* contenedor password */
.cont-password {
	display: flex;
	justify-content: space-between;
}

.cont-password>a {
	align-self: flex-end;
	font-size: 0.8em;
	font-weight: bold;
}

/* ICONO PARA MOSTRAR U OCULTAR EL PASSWORD */
.cont-input-password {
	margin-bottom: 20px;
	position: relative;
}

.show-hide-pass {
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: #058d92e4;
}

.bi-eye-slash {
	display: none;
}

/************************* 
** ESTILOS BOTON ENVIAR **
**************************/
.input-login-button {
	padding: 5px;
	width: 100%;
	font-size: 1em;
	background: rgb(3, 10, 64, 1);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
	border: none;
}

/************************* 
** MENSAJE ERROR SESION **
**************************/
.formLogin >.message-error-session {
	margin-bottom: 10px;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 15px;
	font-size: 0.8em;
	font-weight: bold;
}