/*------------------------------ logo ------------------------------*/
.cont-btn-header>.logo {
	display: flex;
    align-items: center;
    max-width: 150px;
    margin: 5px;
}
#logoActivizip {
	width: 100%;
}


/*------------------------------ icon login ------------------------------*/
.cont-gral-logo {
	display: flex;
    justify-content: center;
}
.cont-logo {
	max-width: 200px;
    margin: 5px;
}
#iconoActivizip {
	width: 100%;
}

/*-------------------------------------- FORM STYLE --------------------------------------*/
.tag-a-login {
	color: #009fa5;
	font-weight: bold;
}

/* texts */
.p-login {
	font-weight: bold;
}

/*-------------------------------------- REGISTRATION MESSAGE STYLE --------------------------------------*/
.formLogin {
	background: #fff;
	padding: 20px;
}
.formLogin > .message-register {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.message-register>p>a {
	align-self: flex-end;
	font-weight: bold;
}

/*-------------------------------------- INPUSTS FORM STYLE --------------------------------------*/
.input-login, .input-date {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgb(209, 218, 218);
	margin-top: 10px;
}

.input-login::placeholder {
	font-size: 0.8em;
	color: rgb(171, 189, 189);
}

.input-login:hover {
	border: 1px solid rgba(165, 184, 195, 0.986);
}

.input-login:focus {
	border: 1px solid rgba(3, 10, 64, 0.617);
	outline: none;
}

/*------------------------------- ICON TO SHOW OR HIDE PASSWORD -------------------------------*/
.cont-input-password {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.show-hide-pass {
	position: absolute;
	top: 71%;
	right: 12px;
	transform: translateY(-50%);
	color: #058d92e4;
}

.bi-eye-slash {
	display: none;
}

/* text error */
.cont-label-error {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
}

#textError {
	color: red;
}

/*------------------------------- BUTTON SEND STYLE -------------------------------*/
#btnSend {
	padding: 5px;
	width: 100%;
	font-size: 1em;
	background: rgb(3, 10, 64, 1);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
	border: none;
}