/*------------------------------ logo ------------------------------*/
.cont-btn-header>.logo {
    display: flex;
    align-items: center;
    max-width: 150px;
    margin: 5px;
}
#logoActivizip {
    width: 100%;
}

/*--------------------------- CONTAINER TEXT EMAIL ---------------------------*/
.input-login{
	margin-top: 5px;
	margin-bottom: 15px;
}

/*-------------------------------------- INPUSTS FORM STYLE --------------------------------------*/
.input-login, .input-date, .options, #GET-category {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgb(209, 218, 218);
}
.input-login::placeholder, .input-date::placeholder, .options::placeholder {
	font-size: 0.8em;
	color: rgb(171, 189, 189);
}
.input-login:hover, .input-date:hover, .options:hover, #GET-category:hover {
	border: 1px solid rgba(165, 184, 195, 0.986);
}
.input-login:focus, .input-date:focus, #GET-category:focus {
	border: 1px solid rgba(3, 10, 64, 0.617);
	outline: none;
}

/* OBLIGATORY */
.obligatory {
    color: red;
}

.msj-obligatory {
    text-align: center;
    font-size: 0.9em;
}

/*--------------------------- CONTAINER PASSWORD ---------------------------*/
.cont-password {
	display: flex;
	justify-content: space-between;
}
.cont-password>a {
	align-self: flex-end;
	font-size: 0.8em;
	font-weight: bold;
}

/*------------------------------- ICON TO SHOW OR HIDE PASSWORD -------------------------------*/
.cont-input-password {
	position: relative;
}
.show-hide-pass {
	position: absolute;
	top: 43%;
	right: 12px;
	transform: translateY(-50%);
	color: #058d92e4;
}
.bi-eye-slash {
	display: none;
}

/* ----------------------------- date -----------------------------*/
.cont-input-date {
	align-self: end;
	display: grid;
}
.cont-input-date:first-child {
	margin-right: 10px;
}
.input-date {
    width: 100%;
    padding: 10px;
}
#GETdate {
    padding: 9px;
    font-size: 1em;
    color: rgb(78, 77, 77);
    /*agrego otro icono*/
    background: url(../img/icon-calendary.png) no-repeat;
    background-size: 20px;
    background-position: 98%;
    border-radius: 5px;
    border: 1px solid rgb(229, 229, 229);
}
#GETdate:hover {
	border: 1px solid rgba(165, 184, 195, 0.986);
}
#GETdate:focus {
	border: 1px solid rgba(3, 10, 64, 0.617);
	outline: none;
}

/* ------------------------------- HIDE THE ICON BY DEFAULT -------------------------------*/
::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0;
}

/*-------------------------- STYLE BUTTON SEND --------------------------*/
.input-login-button {
	padding: 5px;
	width: 100%;
	font-size: 1em;
	background: rgb(3, 10, 64, 1);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
}
